@font-face {
    font-family: 'nobileregular';
    src: url('nobile-regular-webfont.woff2') format('woff2'),
         url('nobile-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: arial,"Times New Roman", serif;;
    font-size: 1em;
    background-image: url(../images/abstractPic.jpg);
    background-size: cover;
}
h1{
    font-family: nobileregular;
    font-size: 2em;
}
h3{
    font-size: 1.5em;
    border-bottom: 1px solid black;
}
article ul{
    list-style-image: url(../images/peaceSign.png);
}
.fonts{
    font-family: 'Comic Sans MS',"Times New Roman", serif;
    color: orange;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}
.colors{
    color: red;
    font-weight: bold;
}
.more{
    color: blue;
    text-decoration: underline;
    border: 1px dashed gray;
    background-color: #d69bbe;
}
.backgrounds{
    color: green;
    font-family: Trebuchet MS,"Times New Roman", serif;
    font-size: 1.25em;
}
ul{
    list-style-image: url(images/peaceSign.png);
}
#outerwrapper {
    width: 650px;
    background-color: #e7dbf6;
    margin-left: auto;
    margin-right: auto;
}
head{
    background-color:#4892e5;
    color: white;
    padding: 10px;
}
nav{
    width: 175px;
    background-color: #E7DBF6;
    float: left;
}
article{
    margin-left: 175px;
    background-color: white;
    padding: 10px;
}
footer{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}