body{
    background: linear-gradient(to right, #d8f3dc, #b7e4c7, #95d5b2, #74c69d, #52b788, #40916c, #2d6a4f, #1b4332);
}

caption{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    padding: 20px;
}

.table_style{
   border: 1px solid #212529;
   width: 100%;
}

.link_style{
    background-color: #2d6a4f;
}

thead{
    background-color: white;
    padding: 10px;
}

td, th {
	border: 1px solid #212529;
}

colgroup{
    background-color: #95d5b2;
}
tfoot{
    text-align: center;
    background-color: white;
}
tr:nth-child(even){
    background-color: #dddddd;
}